# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
Assignment 01 - Line Drawing/.vs/FullSail-ComputerGraphics/v17/Solution.VC.db
Assignment 01 - Line Drawing/.vs/FullSail-ComputerGraphics/v17/DocumentLayout.json
Assignment 01 - Line Drawing/.vs/FullSail-ComputerGraphics/v17/Browse.VC.db
Assignment 01 - Line Drawing/.vs/FullSail-ComputerGraphics/v17/.suo
Assignment 01 - Line Drawing/.vs/FullSail-ComputerGraphics/FileContentIndex/29708330-a4e8-46d1-a63c-697f47e4b972.vsidx
